* {
    padding: 0;
    margin: 0;
  }

body{
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    
}

img{
    width: auto;
    height: 1980px;
    margin-top: -200px;
}

.container{
    position: absolute;
}
.keys{
    display: flex;
    align-items: center;
    min-height: 100vh;
    position: absolute;
    color: white;
    margin-top: 100px;
    justify-content: center;
    
}

.key{
    height: 70px;
    width: 6rem;
    border: .2rem solid black;
    border-radius: .5rem;
    text-align: center;
    transition: all .07s ease;
    padding: .2rem;
    margin: .2rem;
    background-color: rgb(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}


kd{
    display: block;
    font-size: 2em;
}

.sound{
    font-size: 10px;
    color: rgba(238,162,133,255);
}
.playing{
    border-color: rgba(238,162,133,255);
    transform: scale(1);
    box-shadow: 0 0 10px rgba(238,162,133,255);

}

.github{
    position: absolute;
    text-align: center;
    margin-top: 1200px;
}

p{
    color: white;
    font-style: italic;
    font-weight: lighter;
    text-transform: lowercase;
    font-size: 10px;
    
}

.github img{
    height: 70px;
    width: auto;
    margin-bottom: 10px;
}